<div class="row">
	<aside class="col-md-12">
		<h3>BTI 325 App Page</h3>
		<blockquote class="blockquote">
			<p>“Your time is limited, don’t waste it living someone else’s life. Don’t be trapped by dogma, which is living the result
				of other people’s thinking. Don’t let the noise of other’s opinion drowned your own inner voice. And most important,
				have the courage to follow your heart and intuition, they somehow already know what you truly want to become. Everything
				else is secondary.”</p>
			<footer class="blockquote-footer">Steve Jobs</footer>
		</blockquote>
	</aside>
	<section class="main col-md-12">
		<article>
			<br>
			<div class="row">
				<div class="col-md-4">
					<!-- begin panel group -->
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

						<!-- panel 1 -->
						<div class="panel panel-default">
							<!--wrap panel heading in span to trigger image change as well as collapse -->
							<span class="side-tab" data-target="#tab1" data-toggle="tab" role="tab" aria-expanded="false">
								<div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
								 aria-expanded="true" aria-controls="collapseOne">
									<h4 class="panel-title">Mongo Db</h4>
								</div>
							</span>

							<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body">
									<!-- Tab content goes here -->
									MongoDB stores data in flexible, JSON-like documents, meaning fields can vary from document to document and data structure
									can be changed over time.
								</div>
							</div>
						</div>
						<!-- / panel 1 -->
						<!-- panel 4 -->
						<div class="panel panel-default">
							<!--wrap panel heading in span to trigger image change as well as collapse -->
							<span class="side-tab" data-target="#tab4" data-toggle="tab" role="tab" aria-expanded="false">
								<div class="panel-heading" role="tab" id="headingFour" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
								 aria-expanded="false" aria-controls="collapseFour">
									<h4 class="panel-title collapsed">PostgreSQL</h4>
								</div>
							</span>

							<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
								<div class="panel-body">
									<!-- Tab content goes here -->
									Often simply Postgres, is ORDBMS with an emphasis on extensibility and standards compliance. As a database server, its primary
									functions are to store data securely and return that data in response to requests from other software applications.
								</div>
							</div>
						</div>
						<!-- / panel 4 -->
						<!-- panel 2 -->
						<div class="panel panel-default">
							<!--wrap panel heading in span to trigger image change as well as collapse -->
							<span class="side-tab" data-target="#tab2" data-toggle="tab" role="tab" aria-expanded="false">
								<div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
								 aria-expanded="false" aria-controls="collapseTwo">
									<h4 class="panel-title collapsed">Node JS</h4>
								</div>
							</span>

							<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
								<div class="panel-body">
									<!-- Tab content goes here -->
									Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven, non-blocking I/O model
									that makes it lightweight and efficient. Node.js' package ecosystem, npm, is the largest ecosystem of open source
									libraries in the world.
								</div>
							</div>
						</div>
						<!-- / panel 2 -->

						<!-- panel 7 -->
						<div class="panel panel-default">
							<!--wrap panel heading in span to trigger image change as well as collapse -->
							<span class="side-tab" data-target="#tab7" data-toggle="tab" role="tab" aria-expanded="false">
								<div class="panel-heading" role="tab" id="headingSeven" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven"
								 aria-expanded="false" aria-controls="collapseSeven">
									<h4 class="panel-title collapsed">Express JS</h4>
								</div>
							</span>

							<div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
								<div class="panel-body">
									<!-- Tab content goes here -->
									Express.js, or simply Express, is a web application framework for Node.js, released as free and open-source software under
									the MIT License. It is designed for building web applications and APIs. It is in fact the standard server framework
									for Node.js.
								</div>
							</div>
						</div>
						<!-- / panel 7 -->

						<!-- panel 6 -->
						<div class="panel panel-default">
							<!--wrap panel heading in span to trigger image change as well as collapse -->
							<span class="side-tab" data-target="#tab6" data-toggle="tab" role="tab" aria-expanded="false">
								<div class="panel-heading" role="tab" id="headingSix" data-toggle="collapse" data-parent="#accordion" href="#collapseSix"
								 aria-expanded="false" aria-controls="collapseSix">
									<h4 class="panel-title collapsed">Bcrypt</h4>
								</div>
							</span>

							<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
								<div class="panel-body">
									<!-- Tab content goes here -->
									Bcrypt is a password hashing function designed by Niels Provos and David Mazières, based on the Blowfish cipher. Besides
									incorporating a salt to protect against rainbow table attacks, bcrypt is an adaptive function: over time, the iteration
									count can be increased to make it slower, so it remains resistant to brute-force search attacks even with increasing
									computation power.
								</div>
							</div>
						</div>
						<!-- / panel 6 -->
						<!--  panel 3 -->
						<div class="panel panel-default">
							<!--wrap panel heading in span to trigger image change as well as collapse -->
							<span class="side-tab" data-target="#tab3" data-toggle="tab" role="tab" aria-expanded="false">
								<div class="panel-heading" role="tab" id="headingThree" class="collapsed" data-toggle="collapse" data-parent="#accordion"
								 href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									<h4 class="panel-title">HTML 5 + CSS 3 </h4>
								</div>
							</span>

							<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
								<div class="panel-body">
									<!-- tab content goes here -->
									HTML5 is a markup language used for structuring and presenting content on the World Wide Web. It is the fifth and current
									major version of the HTML standard.
									<br>
									<br> CSS3 brings a lot of long-awaited novelties, like rounded corners, shadows, gradients, transitions or animations,
									as well as new layouts like multi-columns, flexible box or grid layouts.
								</div>
							</div>
						</div>

						<!-- panel 5 -->
						<div class="panel panel-default">
							<!--wrap panel heading in span to trigger image change as well as collapse -->
							<span class="side-tab" data-target="#tab5" data-toggle="tab" role="tab" aria-expanded="false">
								<div class="panel-heading" role="tab" id="headingFive" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
								 aria-expanded="false" aria-controls="collapseFive">
									<h4 class="panel-title collapsed">Bootstrap</h4>
								</div>
							</span>

							<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
								<div class="panel-body">
									<!-- Tab content goes here -->
									Bootstrap is an open source toolkit for developing with HTML, CSS, and JS. Quickly prototype your ideas or build your entire
									app with our Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful plugins
									built on jQuery.
								</div>
							</div>
						</div>
						<!-- / panel 5 -->
					</div>
					<!-- / panel-group -->

				</div>
				<!-- /col-md-4 -->

				<div class="col-md-8">
					<!-- begin macbook pro mockup -->
					<div class="md-macbook-pro md-glare">
						<div class="md-lid">
							<div class="md-camera"></div>
							<div class="md-screen">
								<!-- content goes here -->
								<div class="tab-featured-image">
									<div class="tab-content">
										<div class="tab-pane  in active" id="tab1">
											<img class="img img-responsive" src="https://sophosnews.files.wordpress.com/2017/01/mongodb.png?w=780&h=408&crop=1" alt="img-1"
											/>
										</div>
										<div class="tab-pane " id="tab2">
											<img class="img img-responsive" src="http://yannickloriot.com/wp-content/uploads/2016/04/nodejs_logo_2016.png" alt="img-2"
											/>
										</div>
										<div class="tab-pane fade" id="tab3">
											<img class="img img-responsive" src="http://www.novasoftware.com/Images/HTML5/html5css3.png" alt="img-3" />
										</div>
										<div class="tab-pane fade" id="tab4">
											<img class="img img-responsive" src="https://www.scrapbook.cash/public/adapters/postgresql.jpg" alt="img-4" />
										</div>
										<div class="tab-pane fade" id="tab5">
											<img class="img img-responsive" src="https://i.pinimg.com/474x/8b/c2/bb/8bc2bb822959372585c3fe79a75affed--logos.jpg" alt="img-5"
											/>
										</div>
										<div class="tab-pane fade" id="tab6">
											<img class="img img-responsive" src="https://ak0.picdn.net/shutterstock/videos/6795940/thumb/1.jpg" alt="img-6" />
										</div>
										<div class="tab-pane fade" id="tab7">
											<img class="img img-responsive" src="https://amandeepmittal.gallerycdn.vsassets.io/extensions/amandeepmittal/expressjs/2.0.0/1509881293872/Microsoft.VisualStudio.Services.Icons.Default"
											 alt="img-7" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="md-base"></div>
					</div>
					<!-- end macbook pro mockup -->



				</div>
				<!-- / .col-md-8 -->
			</div>
			<!--/ .row -->
			<br>
			<br>
			<br>
		</article>
	</section>

</div>